In [1]:
import sys
import pandas as pd
import numpy as np
import pickle
from scipy import sparse
sys.path.insert(1,'C:/Users/Elisa/Documents/ELISA/MAGISTRALE/Tesi/master_thesis-master')
sys.path.insert(2,'C:/Users/Elisa/Documents/ELISA/MAGISTRALE/Tesi/Myra_dataset')
print (sys.path)

['C:\\Users\\Elisa\\Documents\\ELISA\\MAGISTRALE\\Tesi\\Program', 'C:/Users/Elisa/Documents/ELISA/MAGISTRALE/Tesi/master_thesis-master', 'C:/Users/Elisa/Documents/ELISA/MAGISTRALE/Tesi/Myra_dataset', 'C:\\Users\\Elisa\\Anaconda\\python37.zip', 'C:\\Users\\Elisa\\Anaconda\\DLLs', 'C:\\Users\\Elisa\\Anaconda\\lib', 'C:\\Users\\Elisa\\Anaconda', '', 'C:\\Users\\Elisa\\Anaconda\\lib\\site-packages', 'C:\\Users\\Elisa\\Anaconda\\lib\\site-packages\\win32', 'C:\\Users\\Elisa\\Anaconda\\lib\\site-packages\\win32\\lib', 'C:\\Users\\Elisa\\Anaconda\\lib\\site-packages\\Pythonwin', 'C:\\Users\\Elisa\\Anaconda\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\Elisa\\.ipython']

In [2]:
df = pd.read_csv("C:/Users/Elisa/Documents/ELISA/MAGISTRALE/Tesi/Myra_dataset/allDEGs3D_dataset_fitVals_countsFormat.csv/allDEGs3D_dataset_fitVals_countsFormat.csv",index_col = [1], nrows = 1000)

MemoryError:

In [3]:
df_1 = pd.read_csv("C:/Users/Elisa/Documents/ELISA/MAGISTRALE/Tesi/Myra_dataset/allDEGs3D_dataset_fitVals_countsFormat.csv/allDEGs3D_dataset_fitVals_countsFormat.csv", index_col = [1],skiprows = 1000,nrows = 1000, header = None)

In [4]:
df_2 = pd.read_csv("C:/Users/Elisa/Documents/ELISA/MAGISTRALE/Tesi/Myra_dataset/allDEGs3D_dataset_fitVals_countsFormat.csv/allDEGs3D_dataset_fitVals_countsFormat.csv", index_col = [1],skiprows = 2000,nrows = 1000, header = None)

In [12]:
df_3 = pd.read_csv("C:/Users/Elisa/Documents/ELISA/MAGISTRALE/Tesi/Myra_dataset/allDEGs3D_dataset_fitVals_countsFormat.csv/allDEGs3D_dataset_fitVals_countsFormat.csv", index_col = [1],skiprows = 3000,nrows = 1000, header = None)

In [3]:
df_4 = pd.read_csv("C:/Users/Elisa/Documents/ELISA/MAGISTRALE/Tesi/Myra_dataset/allDEGs3D_dataset_fitVals_countsFormat.csv/allDEGs3D_dataset_fitVals_countsFormat.csv", index_col = [1],skiprows = 4000,nrows = 1000, header = None)

In [4]:
df_1= df_1.iloc[1:,1:129283]
#df.head()
df_1

,2,3,4,5,6,7,8,9,10,11,...,129274,129275,129276,129277,129278,129279,129280,129281,129282,129283
1,,,,,,,,,,,,,,,,,,,,,
Dctpp1,26.883172,26.468797,26.058567,25.656795,25.267796,27.450252,27.027136,26.608252,26.198006,25.800801,...,23.504952,23.169987,22.842090,22.521233,22.207389,21.138880,20.849407,20.566623,20.290499,20.021009
Dcun1d3,4.462569,4.552634,4.629568,4.692012,4.738607,4.493830,4.584527,4.661999,4.724880,4.771802,...,4.474976,4.428188,4.370463,4.302236,4.223944,4.240413,4.140847,4.032302,3.915225,3.790063
Dcx,33.851904,33.757854,33.604193,33.388205,33.107173,31.688472,31.600433,31.456592,31.254408,30.991336,...,55.725645,54.408091,53.023230,51.583752,50.102342,54.443137,52.732019,51.016567,49.310995,47.629518
Dcxr,222.493910,220.396525,218.265691,216.127501,214.008051,235.933127,233.709054,231.449511,229.182169,226.934699,...,132.002709,130.324620,128.631907,126.935112,125.244775,112.625079,111.125072,109.659774,108.238793,106.871735
Dda1,21.784834,21.274343,20.761730,20.250313,19.743413,22.488097,21.961127,21.431965,20.904039,20.380774,...,20.292520,19.641145,18.994197,18.354933,17.726607,16.255061,15.688270,15.141144,14.616774,14.118250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Krt23,123.999170,123.993342,124.001839,124.032707,124.093991,121.864410,121.858682,121.867033,121.897369,121.957598,...,106.545445,106.616268,106.718178,106.860755,107.053582,102.193039,102.499761,102.881713,103.348018,103.907802
Krt72,22.362699,22.130534,21.866254,21.569164,21.238572,23.039228,22.800040,22.527765,22.221687,21.881094,...,17.626874,17.077416,16.506302,15.916933,15.312705,14.306642,13.699465,13.087750,12.474807,11.863945
Krtcap2,71.843513,70.252877,68.703892,67.209436,65.782390,73.518987,71.891256,70.306146,68.776838,67.316512,...,62.798405,61.503166,60.248329,59.037665,57.874947,53.049373,52.062933,51.131877,50.259729,49.450016
Ktn1,39.190965,39.928593,40.590619,41.167324,41.648991,38.297591,39.018404,39.665339,40.228898,40.699585,...,53.285709,53.257452,53.146693,52.953516,52.678002,55.868679,55.398901,54.841466,54.196461,53.463976
Kxd1,39.050469,38.384223,37.826825,37.389821,37.084755,38.619519,37.960625,37.409379,36.977198,36.675498,...,31.120761,31.622630,32.199310,32.841981,33.541824,34.085178,34.868197,35.681744,36.517051,37.365351

In [5]:
df_coordinates = pd.read_csv("C:/Users/Elisa/Documents/ELISA/MAGISTRALE/Tesi/Myra_dataset/allDEGs3D_dataset_fitVals_countsFormat.csv/samples_coordinates.csv")
DV, LML, PA = [], [], []
DV = df_coordinates.loc[:,"DV"].values
LML = df_coordinates.loc[:,"LML"].values
PA = df_coordinates.loc[:,"PA"].values

In [60]:
uniques = 0

for x in range(72):
    
    indexes_DV = np.where(DV == (x+1))
    #print("indexes with DV ==1 :", indexes_DV)
    mat_PA = np.unique(PA[indexes_DV])
    uniques += len(mat_PA)
uniques

3387

In [6]:
count = 0
columns = [0]*(72*82)
for j in range(72):
    for y in range(82):
        columns[count] = '%s-%s' %(j+1,y+1)
        count +=1

In [11]:
data_DVandPA_1 = np.zeros([len(df_1.index),72*82])
#data_DVandPA.shape
control = 0

for x in range(72):
    
    indexes_DV = np.where(DV == (x+1))
    #print("indexes with DV ==1 :", indexes_DV)
    mat_PA = np.unique(PA[indexes_DV])
    #print("different values of PA with DV == 1 :", mat_PA)
   
    control += len(mat_PA)
    print(control)
    
    for item in mat_PA:
        indexes_PA = np.where((PA == item) & (DV == (x + 1)))
        #print("indexes with DV == 1 and PA == ", item, " : ", indexes_PA)
            
        for pa in indexes_PA:  
            for i in range(len(df_1.index)):
            
                    data_DVandPA_1[i][((82*x) + (item - 1))] = np.mean(np.log(df_1.iloc[i,pa] + 1))

5
10
15
25
44
63
87
121
159
206
258
314
370
426
482
538
594
650
706
762
818
874
930
986
1042
1098
1154
1210
1266
1327
1388
1449
1510
1571
1632
1693
1754
1815
1876
1938
1996
2054
2112
2178
2240
2302
2372
2442
2508
2574
2635
2696
2757
2814
2871
2928
2980
3022
3055
3088
3121
3154
3187
3220
3248
3276
3304
3332
3355
3374
3383
3387

In [16]:
df_2d_1= pd.DataFrame(data_DVandPA_1, columns = columns)
df_2d_1.index = df_1.index
df_2d_1

,1-1,1-2,1-3,1-4,1-5,1-6,1-7,1-8,1-9,1-10,...,72-73,72-74,72-75,72-76,72-77,72-78,72-79,72-80,72-81,72-82
1,,,,,,,,,,,,,,,,,,,,,
Dctpp1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Dcun1d3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Dcx,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Dcxr,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Dda1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Krt23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Krt72,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Krtcap2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Ktn1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Kxd1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
df_2d = pd.read_csv("DEGS_DV_PA_23_04.csv", index_col = [0])
#df_2d = df_2.append(df_2d_2,ignore_index=True)
new_df = pd.concat([df_2d,df_2d_1])

In [20]:
new_df

,1-1,1-2,1-3,1-4,1-5,1-6,1-7,1-8,1-9,1-10,...,72-73,72-74,72-75,72-76,72-77,72-78,72-79,72-80,72-81,72-82
0610012G03Rik,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1110004F10Rik,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1110008P14Rik,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1110012L19Rik,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1110017D15Rik,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Krt23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Krt72,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Krtcap2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Ktn1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Kxd1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
new_df.to_csv("DEGS_DV_PA_23_04.csv")

In [3]:
df = pd.read_csv("DEGS_DV_PA_new.csv", index_col = [0])

In [7]:
df_csr = sparse.csr_matrix(df_1)

In [7]:
df_csr_size = df_csr.data.size/(1024**2)

In [8]:
df_csr_size

13

In [9]:
import scipy
scipy.sparse.save_npz('df_1_sparse.npz', df_csr)

In [14]:
import numpy
df_data = pd.DataFrame.to_numpy(df)

In [15]:
from numpy import nbytes
df_size = df_data.nbytes/(1024**2)

In [16]:
df_size

182