In [1]:
import sys
import pandas as pd
import scipy
import numpy as np
import pickle
from scipy import sparse
sys.path.insert(1,'C:/Users/Elisa/Documents/ELISA/MAGISTRALE/Tesi/master_thesis-master')
sys.path.insert(2,'C:/Users/Elisa/Documents/ELISA/MAGISTRALE/Tesi/Myra_dataset')
print (sys.path)

['C:\\Users\\Elisa\\Documents\\ELISA\\MAGISTRALE\\Tesi\\Program', 'C:/Users/Elisa/Documents/ELISA/MAGISTRALE/Tesi/master_thesis-master', 'C:/Users/Elisa/Documents/ELISA/MAGISTRALE/Tesi/Myra_dataset', 'C:\\Users\\Elisa\\Anaconda\\python37.zip', 'C:\\Users\\Elisa\\Anaconda\\DLLs', 'C:\\Users\\Elisa\\Anaconda\\lib', 'C:\\Users\\Elisa\\Anaconda', '', 'C:\\Users\\Elisa\\Anaconda\\lib\\site-packages', 'C:\\Users\\Elisa\\Anaconda\\lib\\site-packages\\win32', 'C:\\Users\\Elisa\\Anaconda\\lib\\site-packages\\win32\\lib', 'C:\\Users\\Elisa\\Anaconda\\lib\\site-packages\\Pythonwin', 'C:\\Users\\Elisa\\Anaconda\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\Elisa\\.ipython']

In [3]:
df = pd.read_csv("C:/Users/Elisa/Documents/ELISA/MAGISTRALE/Tesi/Myra_dataset/allDEGs3D_dataset_fitVals_countsFormat.csv/allDEGs3D_dataset_fitVals_countsFormat.csv", index_col = [1],nrows = 1000)

In [4]:
df = df.iloc[1:,1:129283]
#df.head()
df

,1-17-37,1-17-38,1-17-39,1-17-40,1-17-41,1-18-37,1-18-38,1-18-39,1-18-40,1-18-41,...,9-9-47,9-9-48,9-9-49,9-9-50,9-9-51,9-9-52,9-9-53,9-9-54,9-9-55,9-9-56
gene,,,,,,,,,,,,,,,,,,,,,
0610012G03Rik,68.369528,67.265969,66.252281,65.338273,64.533752,70.611143,69.471402,68.424479,67.480503,66.649604,...,42.558624,42.439544,42.373081,42.357431,42.390789,39.201955,39.318223,39.474731,39.669814,39.901808
1110004F10Rik,150.339110,147.866436,145.457541,143.124870,140.880868,153.258988,150.738291,148.282610,145.904633,143.617050,...,124.269623,122.436797,120.641061,118.881689,117.157954,112.049689,110.444054,108.870890,107.329493,105.819158
1110008P14Rik,58.796777,57.662939,56.541325,55.440268,54.368098,61.072662,59.894936,58.729907,57.586230,56.472559,...,46.851725,45.829875,44.821545,43.831187,42.863250,39.002323,38.155942,37.342841,36.567161,35.833040
1110012L19Rik,31.313240,31.141459,30.941514,30.713990,30.459471,32.123431,31.947206,31.742088,31.508677,31.247572,...,29.870782,29.361217,28.826087,28.268198,27.690358,26.205238,25.615933,25.015476,24.406583,23.791967
1110017D15Rik,68.141478,67.347664,66.560893,65.785234,65.024751,69.158220,68.352561,67.554051,66.766818,65.994988,...,65.657532,64.880093,64.106382,63.336255,62.569570,59.524752,58.792580,58.063307,57.336794,56.612904
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Dcps,20.360241,19.863936,19.362257,18.858094,18.354335,21.026782,20.514230,19.996128,19.475459,18.955209,...,15.748703,15.151946,14.556032,13.964773,13.381981,11.823119,11.311465,10.818177,10.346772,9.900767
Dctn1,21.200407,20.784811,20.365183,19.944210,19.524582,21.082494,20.669210,20.251915,19.833284,19.415990,...,27.059724,26.324784,25.586264,24.846441,24.107588,23.165091,22.441467,21.725570,21.019654,20.325974
Dctn3,93.772121,91.105738,88.505668,85.997677,83.607530,95.831742,93.106794,90.449616,87.886540,85.443895,...,84.585663,82.164738,79.800388,77.495882,75.254486,68.872895,66.888709,64.973237,63.129558,61.360751
Dctn4,47.137859,47.258306,47.353401,47.416153,47.439569,47.170346,47.290876,47.386037,47.448831,47.472263,...,49.987923,49.818569,49.614586,49.372994,49.090813,48.639878,48.268532,47.847783,47.374656,46.846180
Dctn6,22.877010,22.539294,22.207460,21.877594,21.545779,23.352324,23.007591,22.668863,22.332143,21.993435,...,22.121731,21.842418,21.574136,21.315347,21.064514,19.252670,19.031171,18.812766,18.596033,18.379550

In [5]:
df_coordinates = pd.read_csv("C:/Users/Elisa/Documents/ELISA/MAGISTRALE/Tesi/Myra_dataset/allDEGs3D_dataset_fitVals_countsFormat.csv/samples_coordinates.csv")
DV, LML, PA = [], [], []
DV = df_coordinates.loc[:,"DV"].values
LML = df_coordinates.loc[:,"LML"].values
PA = df_coordinates.loc[:,"PA"].values

In [6]:
count = 0
columns = [0]*(72*82)
for j in range(72):
    for y in range(82):
        columns[count] = '%s-%s' %(j+1,y+1)
        count +=1

In [8]:
data_DVandPA_0 = np.zeros([len(df.index),72*82])
#data_DVandPA.shape
control = 0

for x in range(72):
    
    indexes_DV = np.where(DV == (x+1))
    #print("indexes with DV ==1 :", indexes_DV)
    mat_PA = np.unique(PA[indexes_DV])
    #print("different values of PA with DV == 1 :", mat_PA)
   
    control += len(mat_PA)
    print(control)
    
    for item in mat_PA:
        indexes_PA = np.where((PA == item) & (DV == (x +1)))
        #print("indexes with DV == 1 and PA == ", item, " : ", indexes_PA)
            
        for pa in indexes_PA:  
            for i in range(len(df.index)):
            
                    data_DVandPA_0[i][((82*x) + (item - 1))] = np.mean(np.log(df.iloc[i,pa] + 1))

5
10
15
25
44
63
87
121
159
206
258
314
370
426
482
538
594
650
706
762
818
874
930
986
1042
1098
1154
1210
1266
1327
1388
1449
1510
1571
1632
1693
1754
1815
1876
1938
1996
2054
2112
2178
2240
2302
2372
2442
2508
2574
2635
2696
2757
2814
2871
2928
2980
3022
3055
3088
3121
3154
3187
3220
3248
3276
3304
3332
3355
3374
3383
3387

In [10]:
df_2d_0 = pd.DataFrame(data_DVandPA_0, columns = columns)
df_2d_0.index = df.index
df_2d_0

,1-1,1-2,1-3,1-4,1-5,1-6,1-7,1-8,1-9,1-10,...,72-73,72-74,72-75,72-76,72-77,72-78,72-79,72-80,72-81,72-82
gene,,,,,,,,,,,,,,,,,,,,,
0610012G03Rik,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1110004F10Rik,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1110008P14Rik,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1110012L19Rik,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1110017D15Rik,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Dcps,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Dctn1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Dctn3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Dctn4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Dctn6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
df_2d = pd.read_csv("DEGS_DV_PA_23_04.csv", index_col = [0])
#df_2d = df_2.append(df_2d_2,ignore_index=True)
new_df = pd.concat([df_2d_0,df_2d])

In [14]:
new_df

,1-1,1-2,1-3,1-4,1-5,1-6,1-7,1-8,1-9,1-10,...,72-73,72-74,72-75,72-76,72-77,72-78,72-79,72-80,72-81,72-82
0610012G03Rik,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1110004F10Rik,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1110008P14Rik,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1110012L19Rik,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1110017D15Rik,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Znrf3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zranb2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zscan26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zswim6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zzz3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
new_df.to_csv("DEGS_DV_PA_23_04.csv")

In [2]:
df = pd.read_csv("DEGS_DV_PA_23_04.csv", index_col = [0])

In [3]:
df_scialdone=df.T
df_scialdone = df_scialdone.loc[~(df_scialdone==0).all(axis=1)]

In [5]:
df_csr = sparse.csr_matrix(df_scialdone)
sparse.save_npz('DEGS_DV_PA_23_04_sparse.npz', df_csr)